html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    background-color: #fff;
}

ul{
    list-style: none;
}

a {
    color: #3983e5;
    /* 背景色 */
    text-decoration: none;
    /* 去掉下划线 */
}


.mod{   
    width: 945px;
    margin: 20px auto ; 
    overflow: hidden;
}

.mod .top{
    height: 54px;    
    background-color:seashell;
    height: 36px;
    border-bottom: 2px blue solid;
}
.mod .top li{
    float: left;
    font-size: 15px;
    /* 字体大小 */
    list-style: none;
    text-align: center;
    padding-right:20px;
    color:#333
}
.mod .mod-content{
    height:312px;
    border:1px solid #E0E0E0;
    border-top-width: 0px;
    position: relative;
    overflow: hidden;
    /* 设计bc的布局 */
}

.mod .left{
    height:312px;
    float:left;
    width: 182px;
    border-right:1px dotted #A3A3A3;
    /* 设计b的布局 */
}

.mod .right{
    height:312px;
    /* float:left; */
    /* width: 759px;     */
    margin-left: 184px;
    padding: 12px 17px 13px 15px;
    /* background-color: #666; */
    /* 设计c的布局 */

} 

.mod .right li.active{
   width: 37px;
   height: 16px;
   /* 精选蓝色小框 */
   background-color:#3983e5;
   border-radius: 2px;
   text-align: center;
   line-height: 16px;   
   /* color: #fff; */
}

.mod li.active a{
    font-size: 10px;
    color:#fff;
}

.mod .right .more{
    position: absolute;
    top:12px;
    right:17px;
    padding: 2px 10px;
}

.mod .right .more:hover{
   border: 1px solid #3983e5;
   border-radius: 5px;
}

.mod .product{
    margin-top: 8px;
    overflow: hidden;
}
.mod .product li{
    float: left;
    width: 200px;
    height: 130px;
    margin:0px 8px 8px 0px;
    background-color: #777;
    white-space:nowrap;       /*强制文本不能换行*/
	overflow:hidden;           /*修剪溢出文本*/
	text-overflow:ellipsis;  /*用省略标记标示被修剪的文本*/
}
.mod .left h3
{
    text-align: center;
    margin-top: 20px;
    color:red;
}
.mod .left li
{
    list-style: none;
    font-size: 14px;
    font-family: "微软雅黑";
    padding-bottom: 6px;
}
.mod .product li a div img
{
    width: 200px;
    height: 130px;
    transition:width 2s;
    -webkit-transition:all 1s;
}
.mod .product li a div img:hover 
{
    width: 220px;
    height: 150px;

}

